#wrapper,
.box {
    text-align: center;
    margin-top: 1rem;
}

.chrome {
    background-image: -webkit-linear-gradient(#378DBC 0%, #B6E8F1 46%, #ffffff 50%, #32120E 54%, #FFC488 58%, #582C11 90%, #EC9B4E 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 0.01rem #f5f5f5;
    font-size: 2rem;
    font-family: 'Titillium Web', sans-serif;
    font-style: italic;
    margin: 0;
    line-height: 1;
}

table {
    background-color: white;
    margin: auto;
    margin-bottom: 2rem;
    margin-top: 2rem;
    border-spacing: 0;
    border: 0.5rem;
    box-shadow: 0.063rem 0.063rem 0.063rem #919191, 0.125rem 0.125rem 0.063rem #919191, 0.188rem 0.188rem 0.063rem #919191, 0.250rem 0.250rem 0.063rem #919191, 0.313rem 0.313rem 0.063rem #919191, 0.375rem 0.375rem 0.063rem #919191, 0.438rem 0.438rem 0.063rem #919191, 0.500rem 0.500rem 0.063rem #919191, 0.563rem 0.563rem 0.063rem #919191, 0.626rem 0.626rem 0.063rem #919191, 1.125rem 1.125rem 0.375rem rgba(16, 16, 16, 0.4), 1.375rem 1.375rem 0.626rem rgba(16, 16, 16, 0.2), 1.563rem 1.563rem 2.188rem rgba(16, 16, 16, 0.2), 1.875rem 1.875rem 3.750rem rgba(16, 16, 16, 0.4), -0.063rem -0.063rem 0.063rem #919191, -0.125rem -0.125rem 0.063rem #919191, -0.188rem -0.188rem 0.063rem #919191, -0.250rem -0.250rem 0.063rem #919191, -0.313rem -0.313rem 0.063rem #919191, -0.375rem -0.375rem 0.063rem #919191, -0.438rem -0.438rem 0.063rem #919191, -0.500rem -0.500rem 0.063rem #919191, -0.563rem -0.563rem 0.063rem #919191, -0.626rem -0.626rem 0.063rem #919191, -1.125rem -1.125rem 0.375rem rgba(16, 16, 16, 0.4), -1.375rem -1.375rem 0.626rem rgba(16, 16, 16, 0.2), -1.563rem -1.563rem 2.188rem rgba(16, 16, 16, 0.2), -1.875rem -1.875rem 3.750rem rgba(16, 16, 16, 0.4);
}

td {
    border: 0.0625rem solid gray;
    border-collapse: collapse;
}

input[type='checkbox'] {
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    display: block;
    width: 3rem;
    height: 3rem;
    background: white;
}

input[type='checkbox']:checked {
    box-shadow: 0.1rem 0.1rem yellow inset, -0.1rem -0.1rem yellow inset;
}

.push_button {
    position: relative;
    width: 13.75rem;
    height: 2.5rem;
    text-align: center;
    color: #FFF;
    text-decoration: none;
    line-height: 2.6875rem;
    font-family: 'Oswald', Helvetica;
    display: inline-block;
    margin: 1.875rem;
}

.push_button:before {
    background: #f0f0f0;
    background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#D0D0D0), to(#f0f0f0));
    -webkit-border-radius: 0.3125rem;
    -moz-border-radius: 0.3125rem;
    border-radius: 0.3125rem;
    -webkit-box-shadow: 0 0.0625rem 0.125rem rgba(0, 0, 0, .5) inset, 0 0.0625rem 0 #FFF;
    -moz-box-shadow: 0 0.0625rem 0.125rem rgba(0, 0, 0, .5) inset, 0 0.0625rem 0 #FFF;
    box-shadow: 0 0.0625rem 0.125rem rgba(0, 0, 0, .5) inset, 0 0.0625rem 0 #FFF;
    position: absolute;
    content: "";
    left: -0.375rem;
    right: -0.375rem;
    top: -0.375rem;
    bottom: -0.625rem;
    z-index: -1;
}

.push_button:active {
    -webkit-box-shadow: 0 0.0625rem 0 rgba(255, 255, 255, .5) inset, 0 -0.0625rem 0 rgba(255, 255, 255, .1) inset;
    box-shadow: 0 0.0625rem 0 rgba(255, 255, 255, .5) inset, 0 -0.0625rem 0 rgba(255, 255, 255, .1) inset;
    top: 0.3125rem;
}

.push_button:active:before {
    top: -0.6875rem;
    bottom: -0.3125rem;
    content: "";
}

.blue {
    text-shadow: -0.0625rem -0.0625rem 0 #2C7982;
    background: #3EACBA;
    border: 0.0625rem solid #379AA4;
    background-image: -webkit-linear-gradient(top, #48C6D4, #3EACBA);
    background-image: -moz-linear-gradient(top, #48C6D4, #3EACBA);
    background-image: -ms-linear-gradient(top, #48C6D4, #3EACBA);
    background-image: -o-linear-gradient(top, #48C6D4, #3EACBA);
    background-image: linear-gradient(top, #48C6D4, #3EACBA);
    -webkit-border-radius: 0.3125rem;
    -moz-border-radius: 0.3125rem;
    border-radius: 0.3125rem;
    -webkit-box-shadow: 0 0.0625rem 0 rgba(255, 255, 255, .5) inset, 0 -0.0625rem 0 rgba(255, 255, 255, .1) inset, 0 0.25rem 0 #338A94, 0 0.25rem 0.125rem rgba(0, 0, 0, .5);
    -moz-box-shadow: 0 0.0625rem 0 rgba(255, 255, 255, .5) inset, 0 -0.0625rem 0 rgba(255, 255, 255, .1) inset, 0 0.25rem 0 #338A94, 0 0.25rem 0.125rem rgba(0, 0, 0, .5);
    box-shadow: 0 0.0625rem 0 rgba(255, 255, 255, .5) inset, 0 -0.0625rem 0 rgba(255, 255, 255, .1) inset, 0 0.25rem 0 #338A94, 0 0.25rem 0.125rem rgba(0, 0, 0, .5);
}

.blue:hover {
    background: #48C6D4;
    background-image: -webkit-linear-gradient(top, #3EACBA, #48C6D4);
    background-image: -moz-linear-gradient(top, #3EACBA, #48C6D4);
    background-image: -ms-linear-gradient(top, #3EACBA, #48C6D4);
    background-image: -o-linear-gradient(top, #3EACBA, #48C6D4);
    background-image: linear-gradient(top, #3EACBA, #48C6D4);
}